<footer id="contact" class="footer">
  <div class="footer__grid">
    <div>
      <h4>Inmobiliaria</h4>
      <p>Queremos ser parte de tu historia y ayudarte a encontrar tu próxima propiedad</p>
    </div>

    <div>
      <h4>Contacto</h4>
      <p>📍 Dirección: Av. Ficticia 456, Buenos Aires</p>
      <p>📞 Teléfono: +54 11 36575147</p>
      <p>✉️ Email: 
      <a href="mailto:agencia.alphaloop@gmail.com">ventas@alphaloop.com</a>
      </p>  
    </div>

    <div>
      <h4>Dudas</h4>
      <p>Escribinos y contanos lo que necesitas, nos contactaremos a la brevedad.</p>
    </div>
  </div>

  <div class="footer__copy">
    © <span id="year"></span> Agencia AlphaLoop. Todos los derechos reservados.
  </div>
</footer>
