<section id="services" class="services">
  <h2 class="services__title">Servicios</h2>

  <div class="services__grid">
    <article class="service-card">
      <h3>Venta de propiedades</h3>
      <p>asesoramiento personalizado para encontrar tu próximo hogar</p>
    </article>

    <article class="service-card">
      <h3>Alquiler de Propiedades</h3>
      <p>El precio más bajo del mercado, con nuestros agentes inmobiliarios a la banguardia.</p>
    </article>

    <article class="service-card">
      <h3>Mapa de sitios</h3>
      <p>Actualizaciones  constantes de lugares dentro de capital y alrededores.</p>
    </article>
  </div>
</section>
