.navbar {
  background-color: var(--color-white);
  border-bottom: 1px solid #e5e7eb;
}

.navbar__container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__brand {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 0.5rem;
  text-decoration:none;
  color:blue;
  font-style: italic;
  font-weight: 790;
}

.navbar__logo {
  width: 32px;
  height: 32px;
}

.navbar__nav {
  display: none;
  gap: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--color-text);
}

.navbar__cta {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius);
  text-decoration: none;
}

.navbar__toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
}

/* Desktop */
@media (min-width: 768px) {
  .navbar__nav {
    display: flex;
  }

  .navbar__toggle {
    display: none;
  }
}
