body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #e1f5f4;
  color: #1C1C1C;
}

header {
  background: #908e8e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: 'Playfair Display', serif;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #c96527;
}

.hero {
  background: url('images/hero-ecommerce.jpg') center/cover no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .overlay {
  background: rgba(42, 34, 161, 0.5);
  color: white;
  text-align: center;
  padding: 2rem;
}

.cta {
  background: #e16914;
  color: black;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.cta:hover {
  background: #7B2D26;
  color: white;
}

.buscador {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background: #f9f9f9;
}

.buscador input, .buscador select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.productos {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.add-to-cart {
  background: #0c9a2d;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  background: #C9A227;
  color: black;
}

/* Carrito lateral */
.carrito {
  position: fixed;
  top: 40;
  right: 0;
  width: 280px;
  background: #fff;
  /*border-left: 2px solid #1C1C1C;*/
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transform: translateX(80%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.carrito.active {
  transform: translateX(0);
}

.carrito h2 {
  margin-top: 0;
}

.carrito ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-counter {
  color: #C9A227;
}

.contacto {
  padding: 2rem;
  text-align: center;
}

footer {
  background: #908e8e;
  color: white;
  text-align: center;
  padding: 1rem;
}