/*@import "tailwindcss";*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #F5F0E1;
  color: #1C1C1C;
}

header {
  background: #7B2D26;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: 'Playfair Display', serif;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #C9A227;
}

.hero {
  background: url('assets/images/hero-restaurante.jpg') center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .overlay {
  background: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  padding: 2rem;
}

.cta {
  background: #C9A227;
  color: black;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.cta:hover {
  background: #7B2D26;
  color: white;
}

.carousel {
  padding: 3rem;
  text-align: center;
}

.carousel-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.carousel-container img {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.menu {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  displau: block;
}

.reservas {
  padding: 2rem;
  background: #fff;
}

.reservas form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}

.reservas button {
  background: #C9A227;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.reservas button:hover {
  background: #7B2D26;
  color: white;
}

.contacto {
  padding: 2rem;
  text-align: center;
}

footer {
  background: #1C1C1C;
  color: white;
  text-align: center;
  padding: 1rem;
}